# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Flask / Local Files
instance/
.env
*.sqlite3

# Uploads and output folders
static/uploads/
static/output/
*.zip

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
